sophia-b2b-demo/sophia-b2b-demo-dao/target/sophia-b2b-demo-dao-1.0-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-provider/target/sophia-b2b-demo-provider-1.0-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-task/target/sophia-b2b-demo-task-1.0-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-task/target/sophia-b2b-demo-task-1.0-SNAPSHOT.jar.original
sophia-bsf-all/sophia-bsf-apollo/target/sophia-bsf-apollo-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-cat/target/sophia-bsf-cat-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-core/target/sophia-bsf-core-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-demo/target/sophia-bsf-demo-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-elk/target/sophia-bsf-elk-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-eureka/target/sophia-bsf-eureka-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-file/target/sophia-bsf-file-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-health/target/sophia-bsf-health-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-job/target/sophia-bsf-job-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-message/target/sophia-bsf-message-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-mq/target/sophia-bsf-mq-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-redis/target/sophia-bsf-redis-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-shardingjdbc/target/sophia-bsf-shardingjdbc-1.7.1-SNAPSHOT.jar
sophia-bsf-all/sophia-bsf-starter/target/sophia-bsf-starter-1.7.1-SNAPSHOT.jar
sophia-business-all/sophia-business-api/target/sophia-business-api-1.5.9.2-SNAPSHOT.jar
sophia-business-all/sophia-business-core/target/sophia-business-core-1.5.9.2-SNAPSHOT.jar
sophia-business-all/sophia-business-demo/target/sophia-business-demo-1.5.9.2-SNAPSHOT.jar
sophia-business-all/sophia-business-extend/target/sophia-business-extend-1.5.9.2-SNAPSHOT.jar
sophia-business-all/sophia-business-starter/target/sophia-business-starter-1.5.9.2-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-api/target/sophia-b2b-demo-api-1.0-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-core/target/sophia-b2b-demo-core-1.0-SNAPSHOT.jar
sophia-b2b-demo/sophia-b2b-demo-provider/target/sophia-b2b-demo-provider-1.0-SNAPSHOT.jar.original
sophia-bsf-all/sophia-bsf-elasticsearch/target/sophia-bsf-elasticsearch-1.7.1-SNAPSHOT.jar
