<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.sophia.insight.dao.VisitorsFlowrateMapper">
  <resultMap id="BaseResultMap" type="com.yz.sophia.insight.model.po.VisitorsFlowrate">
    <constructor>
      <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="scenic_spot" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="traffic_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="zero" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="one" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="two" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="three" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="four" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="five" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="six" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seven" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eight" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nine" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ten" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eleven" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="twelve" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="thirteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fourteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fifteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sixteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seventeen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eighteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nineteen" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="twenty" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="twenty-one" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="twenty-two" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="twenty-three" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, scenic_spot, traffic_date, zero, one, two, three, four, five, six, seven, eight, 
    nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, 
    nineteen, twenty, twenty-one, twenty-two, twenty-three
  </sql>
  <select id="selectByExample" parameterType="com.yz.sophia.insight.model.po.VisitorsFlowrateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from Visitors_flowrate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.yz.sophia.insight.model.po.VisitorsFlowrate">
    insert into Visitors_flowrate (id, scenic_spot, traffic_date, 
      zero, one, two, three, 
      four, five, six, seven, 
      eight, nine, ten, eleven, 
      twelve, thirteen, fourteen, 
      fifteen, sixteen, seventeen, 
      eighteen, nineteen, twenty, 
      twenty-one, twenty-two, twenty-three
      )
    values (#{id,jdbcType=BIGINT}, #{scenicSpot,jdbcType=VARCHAR}, #{trafficDate,jdbcType=TIMESTAMP}, 
      #{zero,jdbcType=VARCHAR}, #{one,jdbcType=VARCHAR}, #{two,jdbcType=VARCHAR}, #{three,jdbcType=VARCHAR}, 
      #{four,jdbcType=VARCHAR}, #{five,jdbcType=VARCHAR}, #{six,jdbcType=VARCHAR}, #{seven,jdbcType=VARCHAR}, 
      #{eight,jdbcType=VARCHAR}, #{nine,jdbcType=VARCHAR}, #{ten,jdbcType=VARCHAR}, #{eleven,jdbcType=VARCHAR}, 
      #{twelve,jdbcType=VARCHAR}, #{thirteen,jdbcType=VARCHAR}, #{fourteen,jdbcType=VARCHAR}, 
      #{fifteen,jdbcType=VARCHAR}, #{sixteen,jdbcType=VARCHAR}, #{seventeen,jdbcType=VARCHAR}, 
      #{eighteen,jdbcType=VARCHAR}, #{nineteen,jdbcType=VARCHAR}, #{twenty,jdbcType=VARCHAR}, 
      #{twentyOne,jdbcType=VARCHAR}, #{twentyTwo,jdbcType=VARCHAR}, #{twentyThree,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yz.sophia.insight.model.po.VisitorsFlowrate">
    insert into Visitors_flowrate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scenicSpot != null">
        scenic_spot,
      </if>
      <if test="trafficDate != null">
        traffic_date,
      </if>
      <if test="zero != null">
        zero,
      </if>
      <if test="one != null">
        one,
      </if>
      <if test="two != null">
        two,
      </if>
      <if test="three != null">
        three,
      </if>
      <if test="four != null">
        four,
      </if>
      <if test="five != null">
        five,
      </if>
      <if test="six != null">
        six,
      </if>
      <if test="seven != null">
        seven,
      </if>
      <if test="eight != null">
        eight,
      </if>
      <if test="nine != null">
        nine,
      </if>
      <if test="ten != null">
        ten,
      </if>
      <if test="eleven != null">
        eleven,
      </if>
      <if test="twelve != null">
        twelve,
      </if>
      <if test="thirteen != null">
        thirteen,
      </if>
      <if test="fourteen != null">
        fourteen,
      </if>
      <if test="fifteen != null">
        fifteen,
      </if>
      <if test="sixteen != null">
        sixteen,
      </if>
      <if test="seventeen != null">
        seventeen,
      </if>
      <if test="eighteen != null">
        eighteen,
      </if>
      <if test="nineteen != null">
        nineteen,
      </if>
      <if test="twenty != null">
        twenty,
      </if>
      <if test="twentyOne != null">
        twenty-one,
      </if>
      <if test="twentyTwo != null">
        twenty-two,
      </if>
      <if test="twentyThree != null">
        twenty-three,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="scenicSpot != null">
        #{scenicSpot,jdbcType=VARCHAR},
      </if>
      <if test="trafficDate != null">
        #{trafficDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zero != null">
        #{zero,jdbcType=VARCHAR},
      </if>
      <if test="one != null">
        #{one,jdbcType=VARCHAR},
      </if>
      <if test="two != null">
        #{two,jdbcType=VARCHAR},
      </if>
      <if test="three != null">
        #{three,jdbcType=VARCHAR},
      </if>
      <if test="four != null">
        #{four,jdbcType=VARCHAR},
      </if>
      <if test="five != null">
        #{five,jdbcType=VARCHAR},
      </if>
      <if test="six != null">
        #{six,jdbcType=VARCHAR},
      </if>
      <if test="seven != null">
        #{seven,jdbcType=VARCHAR},
      </if>
      <if test="eight != null">
        #{eight,jdbcType=VARCHAR},
      </if>
      <if test="nine != null">
        #{nine,jdbcType=VARCHAR},
      </if>
      <if test="ten != null">
        #{ten,jdbcType=VARCHAR},
      </if>
      <if test="eleven != null">
        #{eleven,jdbcType=VARCHAR},
      </if>
      <if test="twelve != null">
        #{twelve,jdbcType=VARCHAR},
      </if>
      <if test="thirteen != null">
        #{thirteen,jdbcType=VARCHAR},
      </if>
      <if test="fourteen != null">
        #{fourteen,jdbcType=VARCHAR},
      </if>
      <if test="fifteen != null">
        #{fifteen,jdbcType=VARCHAR},
      </if>
      <if test="sixteen != null">
        #{sixteen,jdbcType=VARCHAR},
      </if>
      <if test="seventeen != null">
        #{seventeen,jdbcType=VARCHAR},
      </if>
      <if test="eighteen != null">
        #{eighteen,jdbcType=VARCHAR},
      </if>
      <if test="nineteen != null">
        #{nineteen,jdbcType=VARCHAR},
      </if>
      <if test="twenty != null">
        #{twenty,jdbcType=VARCHAR},
      </if>
      <if test="twentyOne != null">
        #{twentyOne,jdbcType=VARCHAR},
      </if>
      <if test="twentyTwo != null">
        #{twentyTwo,jdbcType=VARCHAR},
      </if>
      <if test="twentyThree != null">
        #{twentyThree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>